@media (width < 600px){
    body { 
        

    }
    .container{
        flex-direction: column-reverse;
       

    }
    .intro{
        margin-right: 10%;
    }
    
    .intro h1{
        font-size: 200%;
        margin-left: 40%;
    }
    .intro h2{
        font-size: 200%;
        margin-left: 25%;
    }
    .intro p{
        font-size: 150%;
        margin-left: 25%;
    }
    .foto-contacto{
        display: grid;
        place-content: center;
        
    }

    .foto-perfil{
        width: 80%;
        transform: translateY(10%);
        transform: translateX(14%);
        
        
        
    }
    .contacto h2{
        transform: translate(80%, -200px);
        font-size: 2.5rem;
        
    }




    .experiencia{
        width: 80%;
    }

    .trabajos{
        margin-top: 50px;
        display: flex;
        align-items: start;
        justify-content: center;
    }
    .trabajos h2{
        font-size: 2.5rem;
        margin-top:20px ;
    }

    
}   
